<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <title>Brenda Mello Makeup</title>
    <meta name="description" content="Explore nossa seleção de maquiagens de alta qualidade para realçar sua beleza natural e expressar sua personalidade única. Descubra batons vibrantes, sombras sedutoras e muito mais.">
    <meta name="keywords" content="Maquiagem, Batom, Sombra, Base, Pincéis de maquiagem, Blush, Rímel, Corretivo, Paleta de sombras, Cosméticos, Beleza, Estilo, Moda, Tendências de maquiagem, Maquiagem profissional, Produtos de beleza, Acabamento matte, Maquiagem de longa duração, Maquiagem cruelty-free, Maquiagem vegana">
    <meta name="author" content="Brenda Mello Makeups">
    <meta name="robots" content="index, follow">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!-- Styles -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/assets/css/glide.core.min.css" />
    <link rel="stylesheet" href="~/assets/css/glide.theme.css" />
    <link rel="stylesheet" href="~/assets/css/global.css" />

</head>
<body>
    <header class="bg-white d-flex align-items-center">
        <div class="container-fluid boxed">
            <div class="row">
                <div class="col-auto">
                    <a href="#top" title="Brenda Mello Makeup">
                        <img src="~/assets/img/brenda-mello-makeup.png" alt="Brenda Mello Makeup">
                    </a>
                </div>

                <div class="col d-flex align-items-center justify-content-end justify-content-md-center">
                    <nav class="d-md-flex align-items-center d-sm-none">
                        <a href="#top">Home</a>
                        <a href="#services">Services</a>
                        <a href="#makeup-course">Makeup Course</a>
                        <a href="#portfolio">Portfolio</a>
                    </nav>

                    <button type="button" class="menu-mobile-toggle d-flex d-md-none">
                        <span class="bars">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <aside id="mobile-menu" class="d-none flex-column">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-end my-20">
                        <button type="button" class="menu-mobile-toggle d-flex d-md-none">
                            <span class="bars">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                    </div>

                    <nav class="d-flex flex-column align-items-start">
                        <a href="#top">Home</a>
                        <a href="#services">Services</a>
                        <a href="#makeup-course">Makeup Course</a>
                        <a href="#portfolio">Portfolio</a>
                    </nav>
                </div>
            </div>
        </div>
    </aside>

    <section id="top" class="d-flex justify-content-center align-items-center text-center">
        <div class="top-wrapper">
            <h1>Makeup, Hair, and Wedding Services</h1>
            <p>Transform Your Look Today! Book Your Makeup Session or Hair Styling Appointment Now!</p>
            <div class="top-buttons d-flex justify-content-center">
                <a href="#about" class="btn btn-primary">About me</a>
                <a href="#contact" class="btn btn-secondary">Contact me</a>
            </div>
        </div>
    </section>

    @RenderBody()

    @* <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div> *@

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BrendaMelloMakeup.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <div id="social-medias" class="d-flex justify-content-center text-center bg-dark-grey p-50">
        <div class="contact-wrapper d-flex flex-column align-items-center">
            <h2 class="text-white">Let’s work together on your next web project</h2>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>

            <div>
                <a href="https://www.instagram.com/brendamellomakeup/" target="_blank" rel="noopener noreferrer" class="mr-10"> <img src="~/assets/img/icons/instagram_icon.png" alt="Follow me on Instagram" class="social-media-icons"></a>
                <a href="https://wa.me/+61422406209" target="_blank" rel="noopener noreferrer" class="mr-10"><img src="~/assets/img/icons/whatsapp_icon.png" alt="Text me on WhatsApp" class="social-media-icons"></a>
                <a href="https://www.tiktok.com/@@brendamellomakeup" target="_blank" rel="noopener noreferrer" class="mr-10"><img src="~/assets/img/icons/tiktok_icon_white.png" alt="Follow me on TikTok" class="social-media-icons"></a>
            </div>
        </div>
    </div>

    <footer class="text-center bg-dark-grey">

        <div class="container-fluid boxed">
            <div class="row">
                <div class="col">
                    <p class="mb-0 text-white">&copy; 2024 - Brenda Mello Makeup</p>
                </div>
            </div>
        </div>
    </footer>

    <div id="menu-backdrop"></div>

    <script src="~/assets/js/glide.min.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
