<section id="services" class="bg-light-grey">
    <div class="container-fluid boxed">
        <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column text-sm-center text-md-left">
                <h3>Wedding</h3>
                <img src="assets/img/team-01.jpg" alt="Pessoa 1" class="mb-30">
                <p>Ready to Shine on Your Special Day? Schedule Your Wedding Makeup and Hair Trial Today!</p>
                <div class="d-flex justify-content-center mt-auto">
                    <a href="#" class="btn btn-primary me-2">Know More</a>
                    <a href="#contact" class="btn btn-secondary">Contact me</a>
                </div>                
            </div>

            <div class="col-12 col-md-4 d-flex flex-column text-sm-center text-md-left">
                <h3>Makeup & Hair</h3>
                <img src="assets/img/team-02.jpg" alt="Pessoa 2" class="mb-30">
                <p>Enhance Your Natural Beauty Today! Book Your Makeup and Hair Appointment for a Stunning Look!</p>
                <div class="d-flex justify-content-center mt-auto">
                    <a href="#" class="btn btn-primary me-2">Know More</a>
                    <a href="#contact" class="btn btn-secondary">Contact me</a>
                </div>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column text-sm-center text-md-left">
                <h3>Makeup</h3>
                <img src="assets/img/team-03.jpg" alt="Pessoa 3" class="mb-30">
                <p>Discover Your Perfect Look! Schedule Your Makeup Appointment Today for Glamorous Results!</p>
                <div class="d-flex justify-content-center mt-auto">
                    <a asp-area="" asp-controller="Services" asp-action="Makeup" class="btn btn-primary me-2">Know More</a>
                    <a href="#contact" class="btn btn-secondary">Contact me</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="about">
    <div class="container-fluid boxed">
        <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column align-items-center text-center about-item">
                <img src="assets/img/icons/icon-check.svg" alt="Nome do serviço 1" class="mb-30">
                <h3>Fixed Price Projects</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet elit do, consectetur adipiscing, sed eiusmod tempor.</p>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column align-items-center text-center about-item">
                <img src="assets/img/icons/icon-diamond.svg" alt="Nome do serviço 2">
                <h3>Receive on time</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet elit do, consectetur adipiscing, sed eiusmod tempor.</p>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column align-items-center text-center about-item">
                <img src="assets/img/icons/icon-bolt.svg" alt="Nome do serviço 3">
                <h3>Fast work turnaround</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet elit do, consectetur adipiscing, sed eiusmod tempor.</p>
            </div>
        </div>
    </div>
</section> -->

<section id="makeup-course" class="py-0" style="background-color: #ead1dc;">
    <article class="service img-right">
        <div class="container-fluid boxed">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <h2>Makeup Course</h2>
                    <p>Empower Your Beauty Skills! Enroll Today in Our Self Makeup Course and Master the Art of Glam!.</p>
                    <a href="/makeup-course" class="btn btn-secondary mt-20">Know More</a>
                </div>

                <div class="col-12 col-md-6">
                    <img class="w-100" src="assets/img/service-img.jpg" alt="Makeup Course">
                </div>

            </div>
        </div>
    </article>
</section>

<section id="portfolio" class="bg-light-grey">
    <div class="container-fluid boxed">
        <div class="row">
            <div class="col">
                <h2>Portfolio</h2>
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                                <a href="#">
                                    <img src="assets/img/card-01.jpg" alt="Nome do Item" class="w-100">
                                </a>
                            </li>
                            <li class="glide__slide">
                                <a href="#">
                                    <img src="assets/img/card-02.jpg" alt="Nome do Item" class="w-100">
                                </a>
                            </li>
                            <li class="glide__slide">
                                <a href="#">
                                    <img src="assets/img/card-03.jpg" alt="Nome do Item" class="w-100">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="/portfolio" class="btn btn-primary mt-20">See More</a>
        </div>
    </div>
</section>

<section id="about" style="background-color: #ead1dc;">
    <article class="service img-right">
        <div class="container-fluid boxed">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <h2>About me</h2>
                    <p>
                        Welcome! I ’m Brenda Mello, a passionate makeup artist with over 6 years of experience in the beauty industry. My journey began [mention any significant starting points or experiences], and since then, I ’ve dedicated myself to mastering the art of makeup and enhancing the natural beauty of my clients.
                    </p>
                    <p>
                        With a keen eye for detail and a flair for creativity, I specialize in a wide range of makeup styles, from classic and elegant to bold and avant-garde. Whether it ’s for weddings, special events, photoshoots, or editorial work, I strive to deliver personalized and flawless makeup looks that exceed my clients ’expectations.
                    </p>
                    <p>
                        Throughout my career, I ’ve honed my skills through continuous learning and exploration, obtaining certifications in various makeup techniques and staying up-to-date with the latest trends and innovations in the industry. This commitment to excellence has earned me a reputation for professionalism, reliability, and exceptional artistry.
                    </p>
                    <p>
                        Beyond my technical expertise, what truly sets me apart is my dedication to building meaningful connections with my clients. I understand that each individual has unique preferences and concerns, and I take the time to listen attentively, ensuring that every makeup session is a collaborative and enjoyable experience.
                    </p>
                    <p>
                        I am deeply grateful for the trust and support of my clients, who inspire me to continually push the boundaries of my craft. Whether you ’re looking for a glamorous makeover, a tailored makeup course, or expert advice on skincare and beauty products, I ’m here to help you look and feel your absolute best.
                    </p>
                    <p>
                        Thank you for considering me to be a part of your beauty journey. I look forward to the opportunity to bring your vision to life and create unforgettable moments together.
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <img class="w-100" src="assets/img/service-img.jpg" alt="Nome do Serviço">
                </div>

            </div>
        </div>
    </article>
</section>

<section id="contact" class="bg-light-grey">
    <article class="service img-right">
        <div class="container-fluid boxed">
            <div class="row">
                <div class="col">
                    <h2>Contact me</h2>
                    <p>If you have any questions, would like to book an appointment, or need more information about our services, please feel free to reach out. I am here to help you look and feel your best!</p>
                    <form method="post" action="/Home/Contact">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                        </div>
                        @* <button type="submit" class="btn btn-primary mt-3">Send</button> *@
                        <a href="#" class="btn btn-primary mt-3">Send</a>
                    </form>
                </div>
            </div>
        </div>
    </article>
</section>
<!-- <section id="makeup-course" class="py-0">
    <article class="service bg-light-grey img-left">
        <div class="container-fluid boxed">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="w-100" src="assets/img/service-img.jpg" alt="Nome do Serviço">
                </div>

                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <h2>MAKEUP COURSE</h2>
                    <p>Empower Your Beauty Skills! Enroll Today in Our Self Makeup Course and Master the Art of Glam!.</p>
                    <a href="/makeup-course/" class="btn btn-primary mt-20">Know More</a>
                </div>
            </div>
        </div>
    </article>

     <article class="service img-right">
        <div class="container-fluid boxed">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <a href="#" class="btn btn-primary mt-20">Saiba Mais</a>
                </div>

                <div class="col-12 col-md-6">
                    <img class="w-100" src="assets/img/service-img.jpg" alt="Nome do Serviço">
                </div>

            </div>
        </div>
    </article>

    <article class="service bg-dark-grey img-left">
        <div class="container-fluid boxed">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="w-100" src="assets/img/service-img.jpg" alt="Nome do Serviço">
                </div>

                <div class="col-12 col-md-6 d-flex flex-column justify-content-center text-white">
                    <h2 class="text-white">Web Design</h2>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <a href="#" class="btn btn-primary mt-20">Saiba Mais</a>
                </div>
            </div>
        </div>
    </article>
</section>-->



<section id="reviews" style="background-color: #ead1dc;">
    <div class="container-fluid boxed">
        <div class="row">
            <h2>Reviews</h2>
            <div class="col-12 col-md-4 d-flex flex-column text-sm-center text-md-left">
                <img src="assets/img/team-01.jpg" alt="Pessoa 1" class="mb-30">
                <p>“What is the point of being alive if you don’t at least try to do something remarkable?”</p>
                <h4>Janet Morris</h4>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column text-sm-center text-md-left">
                <img src="assets/img/team-02.jpg" alt="Pessoa 2" class="mb-30">
                <p>“What is the point of being alive if you don’t at least try to do something remarkable?”</p>
                <h4>Willie Brown</h4>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column text-sm-center text-md-left">
                <img src="assets/img/team-03.jpg" alt="Pessoa 3" class="mb-30">
                <p>“What is the point of being alive if you don’t at least try to do something remarkable?”</p>
                <h4>Sean Fisher</h4>
            </div>
        </div>
    </div>
</section>
